{% extends 'base.html.twig' %}

{% block title %}Employee List{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{asset('css/employee.css')}}>
{% endblock %}

{% block javascripts %}
    <script src={{asset('js/employee.js')}} defer></script>
{% endblock %}

{% block body %}

<div class="d-flex p-4 flex-column gap-3">
    <h1>Employee List</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Fullname</th>
                <th scope="col">birtdate</th>
                <th scope="col">Company</th>
                <th scope="col">Hire Date</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{employee.id}}</td>
                    <td>
                        <a href={{path('show_employee', {'id': employee.id})}}>
                            {{employee.firstname ~ ' ' ~ employee.lastname}}
                        </a>
                    </td>
                    <td>{{employee.birthdate|date("d/m/Y")}}</td>
                    <td>{{employee.company.name}}</td>
                    <td>{{employee.hireDate|date("d/m/Y")}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    tbody > tr:hover {
        cursor: pointer;
    }
</style>

{% endblock %}
