{% extends 'base.html.twig' %}

{% block title %}Employee Details{% endblock %}

{% block body %}

<div class="d-flex p-4 flex-column gap-3">
    <h1>Employee Details</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Fullname</th>
                <th scope="col">birtdate</th>
                <th scope="col">Company</th>
                <th scope="col">Hire Date</th>
                <th scope="col">city</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{employee.id}}</td>
                <td>{{employee.firstname ~ ' ' ~ employee.lastname}}</td>
                <td>{{employee.birthdate|date("d/m/Y")}}</td>
                <td><a href={{path('show_company', {'id' : employee.company.id})}}>{{employee.company.name}}</a></td>
                <td>{{employee.hireDate|date("d/m/Y")}}</td>
                <td>
                    {% if employee.city %}
                        {{employee.city}}
                    {% else %}
                        No city specified
                    {% endif %}
                </td>
                <td>{{employee.age}}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
