{% extends 'base.html.twig' %}

{% set title = edit ? 'Edit a company' : 'Add a new Company' %}


{% block title %} {{title}} {% endblock %}

{% block body %}
    <h1>{{title}}</h1>
    <div class="p-5">
        {{ form_start(addCompanyForm) }}
        {{ form_row(addCompanyForm.name) }}
        {{ form_row(addCompanyForm.creationDate) }}
        <div class="row">
            <div class="col-sm">
                {{ form_row(addCompanyForm.adress) }}
            </div>
            <div class="col-sm">
                {{ form_row(addCompanyForm.postalCode) }}
            </div>
            <div class="col-sm">
                {{ form_row(addCompanyForm.city) }}
            </div>
        </div>
        <div class="mt-4">
            {{ form_row(addCompanyForm.confirm) }}
        </div>
        {{ form_end(addCompanyForm) }}
    </div>
{% endblock %}
